<header>
{{#with navigation}}
 <div class="card">
  <div class="nav">
    {{#each links}}
    <div class="nav-item">
       {{!-- {{#each links}} --}}
          <a href="{{href}}" class="nav-link" target="_blank">{{text}}</a> 
       {{!-- {{/each}} --}}
    </div>
    {{/each}}
     <div class="nav-item">
          <a href="{{href}}" class="nav-link disabled" target="_blank">Disabled</a> 
     </div>
  </div>
 </div>
{{/with}}
</header>

    {{#with newsBlock}}
      <h1 align="center"><b>{{title}}</b></h1>
      <br>
       <div class="row">
       {{#each cards}}
        <div class="col-3">
          <div class="card text-bg-dark mb-3" style="max-width: auto;">
            <div class="card-header">{{header}}</div>
               
            <div class="card-body">
            <h5 class="card-title">{{title}}
                {{#if isTop}}<button type="button" class="btn btn-danger btn-sm">Топ</button>{{/if}}
                {{#if isNew}}<button type="button" class="btn btn-success btn-sm">Нове</button>{{/if}}
            </h5>
            <p class="card-text">{{description}}</p>
           </div>
          </div>
          <br>
        </div>
       {{/each}}
      </div>
    {{/with}}
   <hr>
  </div>
</header>

<main>
  {{!-- <br> --}}
  {{#with goodsBlock}}
  <nav class="nav nav-tabs">
   {{#each tabs}}
    <div class="nav-item">
       {{!-- {{#each links}} --}}
          {{#if isActive}}<a href="#" class="nav-link active">{{text}}</a>{{/if}}
            {{#unless isActive}}  
                {{#if isDisabled}}
                 <a class="nav-link disabled" aria-disabled="true">{{text}}</a>
                    {{else}}
                 <a href="#" class="nav-link">{{text}}</a>
                {{/if}}
            {{/unless}}
       {{!-- {{/each}} --}}
    </div>
   {{/each}}
  </nav>

  <br>
    <div class="row">
       {{#each cards}}
        <div class="col-4">
          <div class="card" style="width: 1auto;">
           <img src={{image}} class="card-img-top" alt="Image">
            <div class="card-body">
             <h5 class="card-title">{{title}}
                {{#if isHot}}<button type="button" class="btn btn-warning btn-sm text-light">HOT</button>{{/if}}
                {{#if isNew}}<button type="button" class="btn btn-primary btn-sm">Нове</button>{{/if}}
             </h5>
             <p class="card-text">{{description}}</p>
            </div>
          </div>
         <br>
        </div>
       {{/each}}
    </div>
  {{/with}}
<hr>
<br>
  {{#with subscribe}}
    <div class="card w-100 mb-3">
    <div class="card-body text-bg-dark">
    <h5 class="card-title">{{header}}</h5>
    <p class="card-text">{{description}}</p>
       {{#each buttons}} 
         <div><a href="#" class="btn btn-primary">{{text}}</a></div>
         <br>
       {{/each}}
    </div>
    </div>
  {{/with}}
<br>
<hr>
<br>
  {{#with service}}
    <div class="card w-100 mb-3">
    <div class="card-body text-bg-success text-center">
    <h5 class="card-title ">{{title}}</h5>
    <p class="card-text">{{description}}</p>
       {{#each buttons}} 
         <a href="#" class="btn btn-primary">{{text}}</a>
       {{/each}}
    </div>
    </div>
  {{/with}}
  <br>
 <hr>
</main>

<footer>
  <div class="container text-left">
        <div class="row gx-2">
         {{#each footer}}
         <div class="col-2">
          {{#each this}}
            {{#if isDisabled}}
                 <div class="p-2"><a class="nav-link disabled" aria-disabled="true">&#160&#160&#160{{text}}</a></div>
              {{else}}
                 <div class="p-2"><button type="button" class="btn btn-link">{{text}}</button></div>
            {{/if}}
          {{/each}}
         </div>
         {{/each}}
        </div>
  </div>
<hr> 
</footer>
